.header {
  padding: 5px;
  text-align: center;
  background: #eeeeee;
  color: #198754;
  font-size: 70px;
  margin-bottom: -20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para {
  padding-right: 590px;
  padding-bottom: 10px;
 margin-bottom: 0px;
  text-align: right;
  background: #eeeeee;
  color: black;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  

}




/* Change the link color to #111 (black) on hover */

#active {
  background-color: #198754;
}

.btnmain {
  background-color: #198754; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 300px;
  display: inline-block;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  margin: 100px;
  margin-top: 25px;
 
  
}

.btnmain:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
}

.btnmain2 {
  background-color: #198754; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 300px;
  display: inline-block;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  margin-left: 300px;
 
  
}

.btnmain2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 1;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
   /* Additional resets for further consistency */
  background-color: transparent;
  border: 1px solid var;
  border-radius: 5px;

  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}
